@charset "utf-8";
/* CSS Document */

h2 {
  text-align: center;
}
/* Định dạng cho bảng dữ liệu*/
table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border: 1px solid #ddd;
}
/* Định dạng cho các cột*/
th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
/* Tạo thanh sroll ngang nếu chiều dài nội dung quá lớn*/
#table {
  overflow-x: auto;
}
/* Thiết lập màu nền cho các ô*/
tr:nth-child(even){
  background-color: #f2f2f2
}
#table {
  overflow-x: auto;
}